$green: #12916f;
$black: #0d1610;
$light-grey: #eaebf0;
$grey: #A9ABB1;
$dark-grey: #3D3E41;
$white: #fafbf9;
$light-green: #25a563;
$blue-link: #0947f4;
$light-yellow: #f1de35;
$yellow: #CDBA10;
$aqua-green: #13d1bf;
$sky-blue: #12DCDC;

$link-color: $aqua-green;