$primary-green: #12916f;
$black: #0d1610;
$grey: #A9ABB1;
$dark-grey: #3D3E41;
$white: #f1f5f0;
$light-green: #99FFCA;
$yellow: #CDBA10;
$aqua-green: #13d1bf;
$sky-blue: #12DCDC;

$link-color: $aqua-green;